<html>
    <table border="3">         <!--tabella-->
        <tr>        <!--riga tabella-->
            <th>    <!--intestazione 1^ colonna-->
                Task name
            </th>
            <th>    <!--intestazione 2^ colonna-->
                Is Done
            </th>
        </tr>
        <tr>
            <td>
                Walk Dog
            </td>
            <td>
                True
            </td>
        </tr>
        <tr>
            <td>
                Wash Dishesssssssss
            </td>
            <td>
                True
            </td>
        </tr>
    </table>
</html>    